doctype html
html(class="no-js", lang="en")

    include ../modules/head/head
    include ../modules/footer/footer
    include ../modules/header/header
    include ../modules/about/about
    include ../modules/lastest/lastest
    include ../modules/gallery/gallery
    include ../modules/contact/contact
    include ../modules/follow/follow

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        +header(header.defaults)

        .page__content

            +about(about.defaults)

            +lastest(lastest.defaults)

            +gallery(gallery.defaults)

            +contact(contact.defaults)

            +follow(follow.defaults)

            .page__footer
                +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
