mixin gallery(data)
    section.page__gallery
        h2.gallery__title= data.title
        .gallery__content
            img(src= 'static/img/assets/gallery/' + data.item[0].img alt= data.item[0].title class= 'gallery__item gallery__item-1')
            img(src= 'static/img/assets/gallery/' + data.item[1].img alt= data.item[1].title class= 'gallery__item gallery__item-2')
            img(src= 'static/img/assets/gallery/' + data.item[2].img alt= data.item[2].title class= 'gallery__item gallery__item-3')
            img(src= 'static/img/assets/gallery/' + data.item[3].img alt= data.item[3].title class= 'gallery__item gallery__item-4')
            img(src= 'static/img/assets/gallery/' + data.item[4].img alt= data.item[4].title class= 'gallery__item gallery__item-5')
            img(src= 'static/img/assets/gallery/' + data.item[5].img alt= data.item[5].title class= 'gallery__item gallery__item-6')
            img(src= 'static/img/assets/gallery/' + data.item[6].img alt= data.item[6].title class= 'gallery__item gallery__item-7')

        .gallery__button_wrap
            a(href= data.link class= 'gallery__link')= data.link_title
