mixin gallery(data)
    section.page__gallery
        h2.gallery__title= data.title
        .gallery__content
            - for (var i = 0; i < data.item.length; i++) {
                a(href= 'static/img/content/gallery/full/' + data.item[i].img class= 'gallery__item gallery__item-' + (i + 1))
                    img(src= 'static/img/content/gallery/' + data.item[i].img alt= data.item[i].title ).image-popup
            - }
        .gallery__button_wrap
            a(href= data.link class= 'gallery__link')= data.link_title
