.page__follow {
    z-index: 3;
    width: 1302px;
    padding-top: 85px;
    min-height: 337px;
    margin: 0 auto;
    position: relative;
}
.follow_box {
    text-align: center;
}
.follow__item {
    width: 80px;
    height: 80px;
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
    display: inline-block;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        transition: all .3s;
    }

    &:hover {
        img {
            transition: all .3s;
            transform: scale(1.1);
        }
    }
}
