mixin header(data)
    header.page__header
        .header__box
            .header__box_signature #{data.signature}
            h1.header__box_title #{data.title}
            p.header__box_subtitle #{data.text}
