.page__lastest {
    padding-top: 100px;
    padding-bottom: 80px;
    width: 1306px;
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    position: relative;
}

.lastest__text-content_title {
    display: inline-block;
    font-family: @DroidSerif;
    font-weight: 400;
    font-size: 60px;
    color: @baseColor;
    line-height: 51px;
    margin: 0;
    padding: 0;

    &:after {
        content: ' ';
        display: block;
        height: 3px;
        width: 90px;
        background-color: @baseColor;
        margin: 10px 0 0 0;
    }
}

.lastest_container {
    padding-top: 90px;
    text-align: left;

    &:after {
        content: ' ';
        display: block;
        clear: both;
        float: none;
    }
}
.lastest__item {
    float: left;
    padding-bottom: 50px;
}

.lastest__item_container {
    margin: 0 auto;
    width: 368px;
}

.lastest__item_center {
    padding-top: 85px;
    margin-right: 100px;
    margin-left: 100px;
}
.lastest__item_img-container {
    width: 338px;
    height: 236px;
    position: relative;
    background-color: #373737;
    box-shadow: 0 0 80px rgba(0,0,0,.3);

    img {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        box-shadow: 0 0 80px rgba(0,0,0,.3);
    }
 }
.lastest__item_text-container {
    margin-top: 70px;
}
.lastest__item_title {
    color: @baseColor;
    font-family: @DroidSerif;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 0;
    font-weight: 400;

    &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 1px;
        background-color: @baseColor;
        margin-top: 17px;
    }
}
.lastest__item_text_wrap {
    margin: 27px 0;
}
.lastest__item_text {
    color: #d3d3d3;
    font-family: @RalewayRegular;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.lastest__item_link {
    font-family: @RalewayBold;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: @baseColor;
    display: inline-block;

    img {
        padding-left: 20px;
    }

    &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 1px;
        background-color: @baseColor;
        transition: width .7s linear;
        margin-top: 5px;
    }
    &:hover {
        &:after {
            width: 90%;
            transition: width .5s linear;
        }
    }
}

@media only screen and (max-width : 1300px) {
    .page__lastest {
        width: 100%;
    }
    .lastest__item {
        width: 33.33333333336%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .lastest__item_center {
        padding-top: 65px;
        margin-right: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width : 1200px) {
    .lastest__item_container {
        width: 100%;
    }
    .lastest__item_img-container {
        width: 100%;
        height: auto;
        background-color: transparent;
        vertical-align: bottom;

        img {
            position: relative;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            vertical-align: bottom;
        }
    }
    .lastest__item_text-container {
        margin-top: 50px;
    }
}
@media only screen and (max-width : 960px) {
    .lastest__text-content_title {
        font-size: 40px;
        line-height: 35px;

        &:after {
            width: 70px;
        }
    }
}
@media only screen and (max-width : 768px) {
    .lastest__text-content_title {
        font-size: 34px;
        line-height: 25px;

        &:after {
            width: 50px;
        }
    }

    .lastest__item {
        float: none;
        width: 100%;

        &:after {
            content: ' ';
            display: block;
            clear: both;
            float: none;
        }
    }

    .lastest__item_center {
        padding-top: 0;
    }
    .lastest__item_img-container {
        width: 50%;
        float: left;
    }
    .lastest__item_text-container {
        margin-top: 0;
        width: 50%;
        padding-left: 20px;
        float: right;

    }
}
@media only screen and (max-width : 480px) {
    .lastest__item_img-container {
        width: 100%;
        float: none;
    }
    .lastest__item_text-container {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        padding-left: 0;
        float: none;

    }
}
